body{
    margin: 0;
    padding:  0;
    width: 100%;
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 70px;
    contain: layout;
}
.red, .orange, .yellow, .green, .blue{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red{
    background-color: #c00000;

}
.orange{

    background-color: #e36c0a;
}
.yellow{

    background-color: #ffc000;
}
.green{

    background-color: #00b050;
}
.blue{

    background-color: #00b0f0;
}
@media (min-width: 1200px) {
    .col-lg-1-5 {
        max-width: 20%;
        float: left;
    }}

